@model Hospital_Management.Models.Doctor_entry

<form asp-action="Create">
    <div>
        <label asp-for="PatientID">PatientID</label>
        <input asp-for="PatientID" type="text" />
    </div><br />
    <div>
        <label asp-for="DoctorID">DoctorID</label>
        <input asp-for="DoctorID" type="text" />
    </div><br />
    <div>
        <label asp-for="DoctorName">DoctorName</label>
        <input asp-for="DoctorName" type="text" />
    </div><br />
    <div>
        <label asp-for="DoctorFees">DoctorFees</label>
        <input asp-for="DoctorFees" type="text" />
    </div><br />
        <br />
        <div>
        <label asp-for="VisitTime">VisitTime</label>
        <input asp-for="VisitTime" type="text" />
    </div><br />
            <div>
                <label asp-for="Date">Date</label>
                <input asp-for="Date" type="datetime-local" />
            </div><br />

            <button type="submit">SUBMIT</button>
            <button asp-action="Read">READ</button>
            <a href="/Patiententry/Create" type="button">Bact to Patiententry Details</a>

            @if (TempData["a"] != null)
            {
                <h2>@TempData["a"]</h2>
            }
</form>

