@model MVC_DB.Models.Photo

@{
    ViewData["Title"] = "Photo Details";
}

<div>
    <h1>Photo Details</h1>
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">File Name</dt>
        <dd class="col-sm-10">@Model.FileName</dd>

        <dt class="col-sm-2">Upload Date</dt>
        <dd class="col-sm-10">@Model.UploadDate.ToShortDateString()</dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
