@model MVC_DB.Models.Photo

@{
    ViewData["Title"] = "Edit Photo";
}

<h2>Edit Photo</h2>

<h4>Photo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label asp-for="FileName" class="control-label">Select Photo</label>
                <input asp-for="FileName" type="file" class="form-control" name="file" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
